<nz-table #zorroTable nzSize="small" [nzData]="tableData">
  <thead>
    <tr>
      <th *ngFor="let item of tableStyle">{{ item.text }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of zorroTable.data">
      <td *ngFor="let tsRow of tableStyle">
        <!-- <ng-container *ngIf="tsRow?.opts.length>0;else elseBlock">
          {{ showEnumOptsLabel(data,tsRow) }}
        </ng-container> -->

        <div *ngIf="1==1;else elseBlock">
          {{ showEnumOptsLabel(data,tsRow) }}
        </div>

        <ng-template #elseBlock>
          {{ data[tsRow.field_name] }}
        </ng-template>
      </td>>      
    </tr>
  </tbody>
</nz-table>